<!-- define load static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ tittle }}</title>
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
</head>
<body>
  
  <!-- including the nav bar -->
  {% include 'layout/navbar-top.html' %}

  <!-- block content -->
  {% block content %}
      <!-- the content will generate in this block -->
  {% endblock content %}
  <!-- end block content -->

  <script src="{% static 'dist/js/jquery.min.js' %}"></script>
  <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
</body>
</html>